<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>试卷生成测试</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
<style>

</style>
</head>
<body>
    <div id="app">
        简单配置

        <form action="/index" method="post">

            <h5>算法：加法</h5>
            <p>
                列数：<input name="col" type="number" value="4">
            </p>
            <p>
                行数：<input name="row" type="number" value="10">
            </p>
            <p>
                最大值：<input name="max" type="number" value="99">
            </p>
            <p>
                最小值：<input name="min" type="number" value="10">
            </p>

            <button type="submit">生成</button>
        </form>
    </div>
</body>
</html>
<script>
    // var app = new Vue({
    //     el: '#app',
    //     data: {
    //         form:{
    //             row:10,
    //             col:4,
    //             max:99,
    //             min:10
    //         }
    //     }
    // })

</script>
