<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <title>试卷生成测试</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <style>
        body,html{
            height: 100%;
            padding: 0;
            margin: 0;
            overflow: hidden;
        }

        .table{
            width: 100%;
        }

        .table tr{
            line-height: 28px;
        }
        .table tr td:first-child{
            text-align: right;
        }
    </style>
</head>
<body>
<div id="app" style="height: 100%;">
    <form action="/index" style="float: left;width:300px;margin-left: 20px;" method="post">
        <fieldset>
            <legend>
                简单配置
            </legend>
            <table class="table">
                <tr>
                    <td>标题：</td>
                    <td><input type="text" name="title" value="基础练习"></td>
                </tr>
                <tr>
                    <td>算法：</td>
                    <td><input type="radio" value="+" name="method" checked>加法
                        <input type="radio" value="\times" name="method">乘法</td>
                </tr>
                <tr>
                    <td>列数：</td>
                    <td><input name="col" type="number" value="4"></td>
                </tr>
                <tr>
                    <td>行数：</td>
                    <td><input name="row" type="number" value="10"></td>
                </tr>
                <tr>
                    <td>最大值：</td>
                    <td><input name="max" type="number" value="99"></td>
                </tr>
                <tr>
                    <td>最小值：</td>
                    <td><input name="min" type="number" value="10"></td>
                </tr>
            </table>

            <div style="text-align: center;margin-top: 10px;">
                <button type="submit" style="width: 100px;">生成</button>
            </div>
        </fieldset>
    </form>

    <div style="padding-left:360px;height: 100%">
        <embed id="pdf" style="display: none" src="" type="application/pdf" width="100%" height="100%">
    </div>
</div>
</body>
</html>
<script>

    function getQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]); return null;
    }

    (function () {
        var id = getQueryString("id");
        if(id) {
           var pdf =  document.getElementById("pdf")
            pdf.style.display='block';
            pdf.src = "/tex/" + id + '.pdf';
        }
    })()


    // var app = new Vue({
    //     el: '#app',
    //     data: {
    //         form:{
    //             row:10,
    //             col:4,
    //             max:99,
    //             min:10
    //         }
    //     }
    // })

</script>
